* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
}

#container {
	width: 640px;
	height: 640px;
	border: 1px solid gray;
	position: relative;
	left: 20px;
	top: 20px;
}

.col {
	display: inline-block;
	border: 1px solid gray;
}

.visited {
	background-color: black;
}

button {
	position: absolute;
	left: 700px;
	top: 20px;
}